body {
    background: rgb(253,187,45);
    background: linear-gradient(90deg, rgba(253,187,45,1) 41%, rgba(0,0,0,1) 80%);
    font-family: 'Scheherazade New', serif;
    /* display: flex; */
}

h1 {
    text-align: center;
    font-family: 'Scheherazade New', serif;
    font-size: 50px;
}
  
.garifunaHeroes {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );;
    grid-gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.heroContainer {
    background: linear-gradient(117.76deg,
        rgba(255, 255, 255, 0.7) -7.21%,
        rgba(255, 255, 255, 0.5) 118.08%
      );
    border-radius: 10px;
    margin: 15px auto;
    width: 100%;
    height: auto;

}
 h3 {
     text-align: center;
     font-size: 30px;
 }

img {
    height: 300px;
    width: 100%;
    display: block;
    margin: 10px auto;
    object-fit: contain;
}

.moreInfo {
    display: block;
    margin: 10px auto;
    font-family: 'Scheherazade New', serif;
    font-size: 18px;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    background: rgb(254, 230, 177, 0.2);

}

.submit {
    /* font-family: 'Scheherazade New', serif; */
    /* padding: 0 10px; */
    /* font-size: 18px; */
    /* border-radius:0.2em; */
    /* box-sizing: border-box; */
    /* text-decoration: none; */
    /* box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12); */
    background: rgb(254, 230, 177, 0.2);
}
